@{

    Layout = "~/Views/Shared/_Layout1.cshtml";
}



<img src="~/Content/images/contact.jpg" width="1150" />

<div class="row">
    <h3>
        &nbsp;&nbsp;&nbsp;&nbsp;Please contact us for any queries...
        <br/><br /><br /><br /><br />
    </h3>
</div>
