@{

    Layout = "~/Views/Shared/_Layout1.cshtml";
}



<img src="~/Content/images/vehicles for sale.jpg" width="1140" />

<div class="row">
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Cars</h2>
            
                <img src="~/Content/images/honda.jpg" width="300" />
               
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Trucks</h2>
            <img src="~/Content/images/truck.jpg" width="300" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Bikes</h2>
            <img src="~/Content/images/balabike.jpg" width="300" />
        </div>
    </div>
</div>
