<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors defaultRedirect="/errors/oops404.aspx" mode="On" >
        <error statusCode="404" redirect="/errors/oops404.aspx"/>
        <error statusCode="500" redirect="/errors/oops500.aspx"/>

      </customErrors>
    <!-- <pages styleSheetTheme="Blue" />
   --> </system.web>
 

</configuration>
